<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo login</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h3>Please Login</h3>
    
    <form action="/login"method="POST">
    <label for="login_username">User Name</label>
    <input type="text" id="login_password"name="password">

    <button type="Submit">Submit</button>
    </form>
  </body>
</html>
